.App-date {
  margin: 0 2rem 1rem !important;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 208, 208);
  height: 100vh;
}

.App-friend {
  margin: 0 2rem 1rem !important;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(191, 201, 218);
  height: 100vh;
}

.title {
   font-size: 1.25rem;
   font-weight: bold;
}

.date-navigation {
  background-color: rgb(255, 86, 86);
}

.date-button {
  background-color: rgb(255, 86, 86);
}

.friend-navigation {
  background-color: rgb(87, 142, 224);
}

.friend-button {
 background-color: rgb(87, 142, 224);
}

.zone-toggle {
  width: 100px !important;
}

#zone-toggler {
  width: 120px !important;
}

.toggle-emoji {
  margin: 0 0 -.1rem;
  font-size: 1.1rem;
}

.zone-title {
  color: white;
  margin: 0rem;
  font-size: .7rem;
  display: inline;
}

.zone-title-date {
  margin-right: 20px;
}

.friend-div {
  margin: 1rem 0;
}

.friend-cards {
  max-width: 400px !important;
}

.form {
  margin: 1rem 0;
}

.message {
    margin: auto;
    min-height: 200px;
    width: 90%;
    border: 10px;
    border-style: double;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.message-pic {
  max-width: 25%;
  padding-bottom: 3px;
}

.message-body {
  text-align: center;
  padding-top: 80px;
}

.emoji {
  font-size: 4rem;
  margin-bottom: 75px;
}